<div class="well">
  <%= form_for(user) do |f|%>
    <div class="form-group">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :nickname %>
      <br>
      <%= f.text_field :pwd, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :pwd %>
      <br>
      <%= f.text_field :pwd, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <br>
      <%= f.text_field :email, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :mobile %>
      <br>
      <%= f.text_field :mobile, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :role %>
      <br>
      <%= f.text_field :role, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :status %>
      <br>
      <%= f.text_field :status, html: {class: "form-control"} %>
    </div>

    <div class="form-group">
      <%= f.label :note %>
      <br>
      <%= f.text_field :note, html: {class: "form-control"} %>
    </div>

    <br>
    <%= f.submit(@user.new_record? ? '新增使用者' : '修改使用者', class:"btn btn-primary") %>
  <% end %>
</div>